/* FONTS */
@import url(../css/clash-display.css);

/* VARIABLES */
:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
   
	
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}


/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}


/* HERO */
#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/hero-1.jpg);
    background-position: center;
    background-size: cover;
}


/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}


.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* COUNTER */
#counter {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/hero-1.jpg);
    background-position: center;
    background-size: cover;
}

/* PORTFOLIO */
.portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/* REVIEW */
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}

/* TEAM */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/hero-1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

/* FOOTER */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}

#bubble {
	position: relative;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: white;
	background: linear-gradient(to left, #7e94bf, #88bfb0);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
	animation: rise 7s linear;
	animation-iteration-count:3;
	animation-delay: 2s;
	animation-timing-function: ease-in-out;
}

#bubble:before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 7px;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background: #84b9bf;
	opacity: 0.8;
	overflow: hidden;
}

#bubble:after {
	content: "";
	position: absolute;
	display: block;
	top: 25px;
	left: 70px;
	height: 25px;
	width: 9px;
	border-radius: 50%;
	background: white;
	overflow: hidden;
}

#bubble2 {
	position: relative;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
	background: linear-gradient(to left, #7e94bf, #88bfb0);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
	animation: linear rise 4s;
	animation-delay: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:3;
	margin: 30px;
	margin-top: 160px;
}

#bubble2:before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 7px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background: #84b9bf;
	opacity: 0.8;
	overflow: hidden;
}

#bubble2:after {
	content: "";
	position: absolute;
	display: block;
	top: 15px;
	left: 40px;
	height: 10px;
	width: 5px;
	border-radius: 50%;
	background: white;
	overflow: hidden;
}


#bubble3 {
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: white;
	background: linear-gradient(to left, #7e94bf, #88bfb0);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
	animation: linear rise2 5s;
	animation-delay: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:3;
	margin: 30px;
	margin-top: 200px;
}

#bubble3:before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 7px;
	height: 23px;
	width: 23px;
	border-radius: 50%;
	background: #84b9bf;
	opacity: 0.8;
	overflow: hidden;
}

#bubble3:after {
	content: "";
	position: absolute;
	display: block;
	top: 15px;
	left: 24px;
	height: 8px;
	width: 4px;
	border-radius: 50%;
	background: white;
	overflow: hidden;
}

#bubble4 {
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: white;
	background: linear-gradient(to left, #7e94bf, #88bfb0);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
	animation: linear rise2 4s;
	animation-delay: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:3;

}

#bubble4:before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 7px;
	height: 23px;
	width: 23px;
	border-radius: 50%;
	background: #84b9bf;
	opacity: 0.8;
	overflow: hidden;
}

#bubble4:after {
	content: "";
	position: absolute;
	display: block;
	top: 15px;
	left: 25px;
	height: 8px;
	width: 4px;
	border-radius: 50%;
	background: white;
	overflow: hidden;
}


@keyframes rise{
	0% {transform: translatey(0px) scale(1);}
	15% {transform: translatey(-50px) scale(1.1);}
	45% {transform: translatey(-300px) scale(1.3);}
	75% {transform: translatey(-420px) scale(1.4);}
	100%{transform: translatey(-690px) scale(1.4);}
}

@keyframes rise2{
	0% {transform: translatey(0px) scale(1);}
	15% {transform: translatey(-50px) scale(1.1)rotate(90deg);}
	45% {transform: translatey(-300px) scale(1.5)rotate(250deg);}
	75% {transform: translatey(-420px) scale(2)rotate(300deg);}
	100%{transform: translatey(-690px) scale(2)rotate(360deg);}
}


/*try crescent moon shape with gradient of choosing or else*/

/*@keyframes popDiv { 
    0%   {transform: scale(1)  rotate(0deg);}
    25%  {transform: scale(2) rotate(120deg);}
    50%  {transform: scale(.5) rotate(240deg);}
    100% {transform: scale(1) rotate(360deg);}
}*/


